{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include SweetAlert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <title>File Upload Modal</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .drop-zone {
            max-width: 100%;
            padding: 25px;
            border: 2px dashed #007bff;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            text-align: center;
        }

        .drop-zone.dragover {
            border-color: #0056b3;
            background-color: #f8f9fa;
        }

        .drop-zone p {
            margin: 0;
        }

        .drop-zone input {
            display: none;
        }

        .file-details {
            margin-top: 10px;
        }

        .file-details-1 .file-name-1{
            font-size: 14px;
            background-color: #e9ecef;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
        }

        .file-details-2 .file-name-2 {
            font-size: 14px;
            background-color: #e9ecef;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
        }

        .file-details-3 .file-name-3 {
            font-size: 14px;
            background-color: #e9ecef;
            padding: 5px 10px;
            border-radius: 5px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <!-- Button to Open the Modal -->
     
        <!-- The Modal -->
        <!-- The Modal -->
        <div class="modal fade rounded-sm" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="border-radius: 100px;">
                <form action="{% url 'file-upload' %}" id="upload_file" method="POST" class="form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal- bg-light d-flex justify-content-between align-items-center">
                            <h5 class="modal-title" style="margin-left: 10px;" id="uploadModalLabel">Upload Document</h5>
                            <div class="right" style="width: 100px; margin-right: 10px; margin-top: 20px;">
                                <div class="select-style-1" style="background-color: white;">
                                    <div class="select-position select-sm">
                                        <select class="" id="quarter" name="quarter" required>
                                            <option value="" disabled>Quarter</option>
                                            <option value="{{ prev_qtr.1 }}" {% if prev_qtr.1 == quarter %} selected{% endif %}>{{ prev_qtr.2 }} to {{ prev_qtr.1 }}</option>
                                            <option value="{{ prev_qtr.0 }}" {% if prev_qtr.0 == quarter %} selected{% endif %}>{{ prev_qtr.1 }} to {{ prev_qtr.0 }}</option>
                                            <option value="{{ cur_qtr }}" {% if cur_qtr == quarter %} selected{% endif %}>{{ prev_qtr.0 }} to {{ cur_qtr }}</option>
                                            <option value="{{ next_qtr.0 }}" {% if next_qtr.0 == quarter %} selected{% endif %}>{{ cur_qtr }} to {{ next_qtr.0 }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="drop-zone" id="dropZone">
                                <input type="file" id="fileInput1" name="file">
                                <div class="upload-icon">
                                    <img src="https://img.icons8.com/material-outlined/48/000000/upload.png" alt="Upload Icon">
                                </div>
                                <p><span class="text-primary">Click to upload</span></p>
                            </div>
                            <div class="file-details-1" id="fileDetails1"></div>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'download_template' %}" class="d-flex align-items-center bg-light px-3" style="cursor: pointer; border-radius: 30px; margin-right: 80px;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-2" style="width: 30px;">
                                    <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
                                    <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
                                </svg>
                                <h6 class="" style="margin-top: 5px;">download</h6>
                            </a>
                            <button type="button" class="btn btn-light" style="padding: 5px 30px; border-radius: 20px;" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" style="padding: 5px 30px; border-radius: 20px; cursor: pointer;" id="continueButton">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="container mt-5"  >
        <!-- Button to Open the Modal -->
     
        <!-- The Modal -->
        <div class="modal fade rounded-sm " id="Bulk_upload_Modal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true"">
            <div class="modal-dialog " style="border-radius: 100px;;" >
              <form  action="{% url 'QP_iness_bulk_upload' %}"
              method="POST"
              class="form"
              enctype="multipart/form-data">

              {% csrf_token %}
                <div class="modal-content"  style="width: 100%;">
                    <div class="modal- bg-light d-flex justify-content-between align-items-center " >
                        <h5 class="modal-title" style="margin-left: 10px;" id="uploadModalLabel">Bulk Approval</h5>


                        <a href='{% url "download_Iness_bulkapproval" quarter %}'  style=" cursor: pointer; border-radius: 30px; ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-2" style="width: 30px;">
                                <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
                                <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
                              </svg>
                              
                               <h6 class="" style="margin-top: 5px;"></h6>
                            </a>
      
                            <div class="right" style="width: 100px; margin-right: 10px; margin-top: 20px;">
                                <div class="select-style-1 " style=" background-color: white;">
                                  <div class="select-position select-sm " >
                                    <select class="" id="quarter" name="quarter"  required>
                                        <option value="" disabled>Quarter</option>
                                        <option value="{{ prev_qtr.1 }}" {%if prev_qtr.1 == quarter %} selected{% endif %}>{{ prev_qtr.2 }} to {{ prev_qtr.1 }}</option>
                                        <option value="{{ prev_qtr.0 }}" {%if prev_qtr.0 == quarter %} selected{% endif %}>{{ prev_qtr.1 }} to {{ prev_qtr.0 }}</option>
                                        <option value="{{ cur_qtr }}" {%if cur_qtr == quarter  %} selected {% endif %} >{{ prev_qtr.0 }} to {{ cur_qtr }}</option>
                                        <option value="{{ next_qtr.0 }}"  {%if next_qtr.0 == quarter  %} selected {% endif %} >{{ cur_qtr }} to {{ next_qtr.0 }}</option>
                                        </select>
                                  </div>
                                </div>
                            
                              </div>
                       
                    </div>
                    <div class="modal-body ">
                        <div class="drop-zone" id="dropZone2">
                            <input type="file" id="fileInput2" name="QP_upload_file">
                            <div class="upload-icon">
                                <img src="https://img.icons8.com/material-outlined/48/000000/upload.png" alt="Upload Icon">
                            </div>
                            <p><span class="text-primary">Click to upload</span></p>
                           
                        </div>
                        <div class="file-details-2" id="fileDetails2"></div>
                    </div>
                    <div class="modal-footer ">
                        
                        <button type="button" class="btn btn-light " style="padding: 5px 30px; border-radius: 20px;" data-dismiss="modal">Cancel</button>
                        <button type="submit"  class="btn btn-primary" style="padding: 5px 30px; border-radius: 20px; cursor: pointer;" id="continueButton2" >Upload</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>



    <div class="container mt-5"  >
        <!-- Button to Open the Modal -->
     
        <!-- The Modal -->
        <div class="modal fade rounded-sm " id="Bulk_Attachment_Modal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true"">
            <div class="modal-dialog " style="border-radius: 100px;;" >
            <form  action="{% url 'qp_bulk_attchments' %}"
              method="POST"
              class="form"
              enctype="multipart/form-data">

              {% csrf_token %}
                <div class="modal-content"  style="width: 100%;">
                    <div class="modal- bg-light d-flex justify-content-between align-items-center " >
                        <h5 class="modal-title" style="margin-left: 10px;" id="uploadModalLabel">Bulk Attachment</h5>


      
                        <div class="right" style="width: 100px; margin-right: 10px; margin-top: 20px;">
                            <div class="select-style-1 " style=" background-color: white;">
                              <div class="select-position select-sm " >
                                <select class="" name="quarter">
                                  <option value="" disabled>Quarter</option>
                                  <option value="Q1">Q1</option>
                                  <option value="Q2">Q2</option>
                                  <option value="Q3">Q3</option>
                                  <option value="Q4">Q4</option>
                                </select>
                              </div>
                            </div>
                            <!-- end select -->
                          </div>
                       
                    </div>
                    <div class="modal-body ">
                        <div class="drop-zone" id="dropZone3">
                            <input type="file" id="fileInput3" name="bulk_files" multiple>
                            <div class="upload-icon">
                                <img src="https://img.icons8.com/material-outlined/48/000000/upload.png" alt="Upload Icon">
                            </div>
                            <p><span class="text-primary">Click to upload</span></p>
                           
                        </div>
                        <div class="file-details-3" id="fileDetails3"></div>
                    </div>
                    <div class="modal-footer ">

                          <div class="d-flex align-items-center bg-light px-3 " style=" cursor: pointer; border-radius: 30px; margin-right: 40px;"   data-toggle="modal" data-target="#myModal">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" style="width: 30px;">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
                              </svg>
                              
                               <h6 class="" style="margin-top: 5px;">Attachments</h6>
                        </div>
                        
                        <button type="button" class="btn btn-light " style="padding: 5px 30px; border-radius: 20px;" data-dismiss="modal">Cancel</button>
                        <button type="submit"  class="btn btn-primary" style="padding: 5px 30px; border-radius: 20px; cursor: pointer;" id="continueButton3" >Upload</button>
                    </div>
                </div>
              </form>
            </div>
        </div>
    </div>










    <div class="modal fade" id="myModal" style="width: 100%;">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
    
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Attachments</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal Body -->
            <div class="modal-body" id="TABLE_DATA">
             
            </div>
    
            <!-- Modal Footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
    
          </div>
        </div>
      </div>
    






    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
 
    <script>
        const dropZone = document.getElementById('dropZone');
        const fileInput = document.getElementById('fileInput1');
        const fileDetails = document.getElementById('fileDetails1');
        const continueButton = document.getElementById('continueButton');

        dropZone.addEventListener('click', () => fileInput.click());

        fileInput.addEventListener('change', (event) => {
            if (event.target.files.length > 0) {
                const file = event.target.files[0];
                // console.log(file,"111111111111111111");
                // alert(file.name)
                fileDetails.innerHTML = `<div class="file-name-1">${file.name}</div>`;
            }
        });

        dropZone.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropZone.classList.add('dragover');
        });

        dropZone.addEventListener('dragleave', () => {
            dropZone.classList.remove('dragover');
        });

        dropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            dropZone.classList.remove('dragover');
            if (event.dataTransfer.files.length > 0) {
                const file = event.dataTransfer.files[0];
                fileInput.files = event.dataTransfer.files;
                displayFileDetails(file);
            }
        });

        function displayFileDetails(file) {
            console.log(file);
            fileDetails.innerHTML = `<div class="file-name-1">${file.name}</div>`;
            continueButton.disabled = false;
        }
    </script> 


 <script>
        const dropZone_2= document.getElementById('dropZone2');
        const fileInput_2 = document.getElementById('fileInput2');
        const fileDetails_2 = document.getElementById('fileDetails2');
        const continueButton_2 = document.getElementById('continueButton2');

        dropZone_2.addEventListener('click', () => fileInput_2.click());

        fileInput_2.addEventListener('change', (event) => {
            if (event.target.files.length > 0) {
                const file = event.target.files[0];
                fileDetails_2.innerHTML = `<div class="file-name-2">${file.name}</div>`;
            }
        });

        dropZone_2.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropZone_2.classList.add('dragover');
        });

        dropZone_2.addEventListener('dragleave', () => {
            dropZone_2.classList.remove('dragover');
        });

        dropZone_2.addEventListener('drop', (event) => {
            event.preventDefault();
            dropZone_2.classList.remove('dragover');
            if (event.dataTransfer.files.length > 0) {
                const file = event.dataTransfer.files[0];
                fileInput_2.files = event.dataTransfer.files;
                displayFileDetails(file);
            }
        });

        function displayFileDetails(file) {
            console.log(file,"222222222222222222222");
            fileDetails_2.innerHTML = `<div class="file-name-2">${file.name}</div>`;
            continueButton_2.disabled = false;
        }

    </script> 


  
<script>
    const dropZone_3= document.getElementById('dropZone3');
    const fileInput_3 = document.getElementById('fileInput3');
    const fileDetails_3 = document.getElementById('fileDetails3');
    const continueButton_3 = document.getElementById('continueButton3');

    dropZone_3.addEventListener('click', () => fileInput_3.click());

    fileInput_3.addEventListener('change', (event) => {
        if (event.target.files.length > 0) {
            const file = event.target.files[0];
            displayFileDetails(file);
        }
    });

    dropZone_3.addEventListener('dragover', (event) => {
        event.preventDefault();
        dropZone_3.classList.add('dragover');
    });

    dropZone_3.addEventListener('dragleave', () => {
        dropZone_3.classList.remove('dragover');
    });

    dropZone_3.addEventListener('drop', (event) => {
        event.preventDefault();
        dropZone_3.classList.remove('dragover');
        if (event.dataTransfer.files.length > 0) {
            const file = event.dataTransfer.files[0];
            fileInput_3.files = event.dataTransfer.files;
            displayFileDetails(file);
        }
    });

    function displayFileDetails(file) {
        console.log(file,"33333333333333");
        fileDetails_2.innerHTML = `<div class="file-name-2">${file.name}</div>`;
        continueButton_3.disabled = false;
    }
</script> 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


    
<script>
    $(document).ready(()=>{
        $.ajax({
        type: 'GET',
        url: "{% url 'bulk_files' %}",
        success: function(data) {
            console.log(data);
          const table=`
          <table class="table ">
            <thead>
                <tr>
                    <th>File Name</th>
                    <th>File Size</th>
                    <th>File Type</th>
                    <th>File Action</th>
                    <th>File Action</th>
                    </tr>
                    </thead>
                    <tbody>
                      ${data.data.map((i)=>{
                      
                        return `<tr>
                            <td class="mb-4">${i.file}</td>
                            <td>${i.file}</td>
                            <td>${i.quarter}</td>
                            <td>${i.id}</td>
                            <td><a href="/downloadmdfile/${i.id}/" class="btn">Download</a> </td>
                            <td><a href="/" >Delete</a></td>
                                </tr>`
                      })}
                                </tbody>
                                </table>
                                `;
                                $("#TABLE_DATA").html(table);
                                }
                               
                               
        
});
    })
</script>




<script>
    $(document).ready(function() {
        $("#upload_file").submit(function(e) {
            e.preventDefault();
    
            swal({
                title: "PPV File Uploading...",
                text: "Please wait ",
                content: {
                    element: "img",
                    attributes: {
                        src: "{% static 'assets/images/loading.gif' %}"
                    }
                },
                buttons: false,
                closeOnClickOutside: false,
                closeOnEsc: false,
            });
    
            var data = new FormData(this);
    
            $.ajax({
                url: $(this).attr("action"),
                data: data,
                type: $(this).attr("method"),
                processData: false,
                contentType: false,
                cache: false,
                timeout: 3000000,
                success: function(response) {
                    swal.close();
                    if (response.status === "success") {
                        swal({
                            title: "Success!",
                            icon: "success",
                            text: "Jabil PPV File Uploaded Successfully",
                            timer: 5000,
                            buttons: false
                        }).then(() => {
                            location.reload(true);
                        });
                    } else {
                        swal({
                            title: "Error!",
                            icon: "error",
                            text: response.message || "An error occurred while uploading the file. Please try again.",
                            timer: 5000,
                            buttons: false
                        });
                    }
                },
                error: function(xhr, status, error) {
                    swal.close();
                    console.log("Error:", xhr, status, error);
                    swal({
                        title: "Whoops!",
                        icon: "error",
                        text: "Problem while uploading file. Kindly check the headers of the uploaded file or contact admin for more info!",
                        timer: 5000,
                        buttons: false
                    });
                }
            });
        });
    });
    </script>

</body>
</html>

